<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/img/favicon.svg">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/night-owl.css">
    {% if page.url == "/"%}
    <title>{{title}}</title>
    <meta property="og:type" content="website" />
    {% else %}
    <title>{{title}} — MM</title>
    <meta property="og:type" content="article" />
    {% endif %}
    <meta name="description" content="{{description}}">
    {% if canonical %}
    <link rel="canonical" href="{{canonical}}">
    {% else %}
    <link rel="canonical" href="{{config.url}}{{page.url}}">
    {% endif %}
    <meta property="og:image" content="{{config.url}}{{page.url}}{{ title | ogImage }}"/>
    <meta property="og:title" content="{{title}}" />
    <meta property="og:url" content="{{config.url}}{{page.url}}" />
    <meta property="og:description" content="{{description}}" />


  </head>
  {% from 'logo.njk' import m %}
  <body>
    <div class="outer-wrapper">
      <div class="nav">
        <a href="/" class="logo-container">
          {{ m() }}
        </a>
        <ul>
          <li><a href="/articles/">Articles</a></li>
          <li><a href="/now/">Now</a></li>
          <li><a href="/hire/" class="active">Hire me</a></li>
        </ul>
      </div>
      <main>
        {{ content | safe }}
        {% include 'footer.njk' %}
      </main>
    </div>
    {% include 'analytics-snippet.njk' %}
    <script src="/assets/js/wa.js"></script>
  </body>
</html>