{
  "parser": "babel-eslint",
  "root": true,
  "extends": ["plugin:react/recommended", "prettier", "prettier/react"],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "jest": true,
    "browser": true
  },
  "rules": {
    "no-console": "off",
    "valid-jsdoc": "off",
    "require-jsdoc": "off",
    "indent": ["error", 2],
    "arrow-body-style": [
      "error",
      "as-needed",
      { "requireReturnForObjectLiteral": true }
    ],
    "jsx-quotes": ["error", "prefer-double"],
    "semi": ["error", "never"],
    "object-curly-spacing": ["error", "always"]
  }
}
