---
title: "Mark Michon — Web Craft"
description: Technical writer, web educator, and citizen of an internet that once was and still could be.
layout: base.njk
permalink: /
---

<section class="intro flow">
  {% renderTemplate 'md' %}
  # Mark Michon
  ## Let's build a better web.
  I'm a technical writer, former educator, substitute front-end dev, and erstwhile designer. I care deeply about approachable design, accessible information, and the power of the open web.

  In this past I managed documentation and technical content at [Bearer](https://www.bearer.com), taught development and design at [Full Sail University](https://fullsail.edu), and built courses for [Designlab](https://trydesignlab.com).

  I'm looking for opportunities working on product and developer documentation. [Here's how I can help your team](/hire).
  {% endrenderTemplate %}
  {% include 'wa.njk' %}
</section>
{# <div class="blog"></div> #}

<section class="home-section">
  <h2>Selected Articles</h2>
  <ul>
    {% for entry in collections.article | reverse %}
      <li>
        <a href="{{entry.url}}">
          <h3>{{entry.data.title}}</h3>
          <p>{{entry.data.description}}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>

<section class="home-section">
  <h2>Open source projects</h2>
  <ul>
    {% for entry in projects %}
      <li>
        <a href="{{entry.url}}">
          <h3>
            {{entry.title}}
          </h3>
          <p>{{entry.description}}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>