---
title: Today I learned
description: A collection of tips and tricks I've learned over time.
permalink: /til/
layout: article.njk
---

<ul class="archive">
  {% for entry in collections.til | reverse %}
    <li>
      <time datetime="{{entry.date}}">{{entry.date.toUTCString() | cleanDate }}</time>
      <div>

        <a href="{{entry.url}}">
          <h3>{{entry.data.title}}</h3>
        </a>
      </div>
    </li>
  {% endfor %}
</ul>
